/* voteView.css */
.frmVoteView * {
font-family: Arial, sans-serif;
}

.frmVoteView {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.voteViewQuestion {
    font-size: 24px;
      font-weight: bold;
      margin-bottom: 10px;
}

.frmVoteView span {
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
}

.frmVoteView input[type="text"],
.frmVoteView input[type="radio"],
.frmVoteView input[type="checkbox"] {
  display: inline-block;
  padding: 5px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}


.frmVoteView label {
  cursor: pointer;
}

.voteName {
  font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
    display: block;
}

.viewSelectDoc {
  border-top: 1px solid #ccc;
  margin-top: 10px;
  padding-top: 10px;
}

.btnVoteResult {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btnVoteDelete {
  background-color: #fff;
    color: #dc3545;
    border: 1px solid #dc3545;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

.btnVoteList{
  background-color: #fff;
    border: 1px solid #555;
    color: #555;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;

}

.btnZone {
  float: right;
}