<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>잇다</title>
    <link rel="stylesheet" href="/css/sign/signVacation.css">
    <script defer src="/js/signTime.js"></script>
</head>

<body>
    <form name="frm" class="frm">
            <div class="vacationTitle">
                <h1>휴 가 계 획 서</h1>
            </div>
            <div class="vacationDateText">
                <span>휴가기간</span>
            </div>
            <div class="vacationDate">
                <input type="date" name="startDate" class="startDate">

                <span>~</span>

                <input type="date" name="endDate" class="endDate">
            </div>
            <div class="history">휴가계획서</div>
            <div class="docZone">
                <textarea name="doc" class="doc"></textarea>
            </div>
    </form>
</body>

</html>