*{
  box-sizing: border-box;
}
body {
  margin: 100px 10px;
  padding: 0;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 14px;
}

/* ------------- 캘린더 스타일지정 ------------- */
#calendar {
  width: 1200px;
  height: 800px;
  margin: 50px auto;
}

.fc-col-header-cell-cushion {
  text-decoration: none;
  color: black;
}

.fc-daygrid-day-number {
  text-decoration: none;
  color: black;
}

.fc-icon{
  color:#fff;
} 


/* ------------- 전체일정,개인일정,팀일정,부서일정 버튼 ------------- */
#btnCalendarZone{
  position:absolute;
  margin-left: 215px;
  margin-top: 51px;
}
.btnCalendarZone{
  border:none;
  border-radius: 5px;
  padding:5px;
  background-color: #2C3E50;
  color: var(--fc-button-text-color);
  border: 1px solid transparent;
  border-radius: 0.25em;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.5;
  padding: 0.4em 0.65em;
  text-align: center;
  user-select: none;
  vertical-align: middle;
}
.btnCalendarZone:hover{
  background-color: #292929;
}
.btnCalendarZone:focus{
  border:2px solid gray;
  background-color: rgba(83, 83, 83, 0.747);
}



/* ------------- 모달창 스타일지정 ------------- */
.calendarModal {
  display: none;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

#calendarMain .modal-content {
  background-color: #fefefe;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 800px;
}

.closeModal {
  color: #aaa;
  float: right;
  font-size: 35px;
  font-weight: bold;
  position: absolute;
  right: 15px;
  top: -5px;
}

.cancelView {
  margin-top: 10px;
}

.closeModal:hover,
.closeModal:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.col-form-label {
  text-align: left;
}

.modal-footer{
  margin-top: 10px;
  justify-content: center;
}


/* 로딩시 캘린더 숨김 */
.hide{
  display: none;
}