<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>잇다</title>
    <link rel="stylesheet" href="/css/commute.css">
    <script defer src="/js/commute.js"></script>
</head>

<body>
    <div class="commute">
        <h3>근태관리</h3>
        <button type="button" class="totalList">TOTAL</button>
        <button type="button" class="toDayList">TODAY</button>
        <div class="searchZone">
            <input type="text" class="findStr" name="findStr" th:value="${page.findStr}" autocomplete="off"
                placeholder="검색어를 입력하세요">
            <button type="button" class="btnFind">검색</button>
            <input type="hidden" th:value="${page.nowPage}" name="nowPage" class="nowPage">
            <input type="hidden" name="toList" class="toList" value="1">
        </div>

        <div class="commuteCountTitle">
            <span class="totEmployeesCountTitle">전체사원수</span>
            <span class="toDayTitle">오늘날짜</span>
            <span class="nnTitle">&emsp;</span>
            <span class="goWorkEmployeesCountTitle">출근사원수</span>
            <span class="leaveWorkEmployeesCountTitle">퇴근사원수</span>
        </div>

        <div class="commuteCount">
            <span class="totEmployeesCount" th:text="${vo.totEmployees}"></span>
            <span class="toDay" th:text="${vo.current}"></span>
            <span class="nn">&emsp;</span>
            <span class="goWorkEmployeesCount" th:text="${vo.goWorkEmployees}"></span>
            <span class="leaveWorkEmployeesCount" th:text="${vo.leaveWorkEmployees}"></span>
        </div>

        <div class="commuteTitle">
            <span class="snoTitle">번호</span>
            <span class="employeeNumberTitle">사원번호</span>
            <span class="employeeNameTitle">사원명</span>
            <span class="goWorkTitle">출근</span>
            <span class="leaveWorkTitle">퇴근</span>
        </div>

        <div class="result">
            <div class="list" th:each="n : ${list}">
                <span class="sno" th:text="${n.sno}"></span>
                <span class="employeeNumber" th:text="${n.employeeNumber}"></span>
                <span class="employeeName" th:text="${n.name}"></span>
                <span class="goWork" th:text="${n.goWork}"></span>
                <span class="leaveWork" th:text="${n.leaveWork}"></span>
            </div>
        </div>



        <div class="btnZone">

            <th:block th:if="${page.startPage gt 1}">

                <button type="button" class="btnFirst" onclick="move(1)">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" fill="none"
                        class="bi bi-chevron-bar-left" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M11.854 3.646a.5.5 0 0 1 0 .708L8.207 8l3.647 3.646a.5.5 0 0 1-.708.708l-4-4a.5.5 0 0 1 0-.708l4-4a.5.5 0 0 1 .708 0zM4.5 1a.5.5 0 0 0-.5.5v13a.5.5 0 0 0 1 0v-13a.5.5 0 0 0-.5-.5z" />
                    </svg>
                </button>

                <button type="button" class="btnPrev" th:value="${page.startPage-1}" onclick="move(this.value)">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="13" fill="none"
                        class="bi bi-chevron-left" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z" />
                    </svg>
                </button>

            </th:block>

            <th:block th:each="n : ${#numbers.sequence(page.startPage, page.endPage,1)}">
                <button type="button" class="btnNum" th:class="${page.nowPage eq n ? 'now' : 'btnNum'}" th:text="${n}"
                    th:value="${n}" onclick="move(this.value)"></button>
            </th:block>

            <th:block th:if="${page.endPage lt page.totPage}">

                <button type="button" class="btnNext" th:value="${page.endPage+1}" onclick="move(this.value)">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="13" fill="none"
                        class="bi bi-chevron-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" />
                    </svg>
                </button>

                <button type="button" class="btnLast" th:value="${page.totPage}" onclick="move(this.value)">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" fill="none"
                        class="bi bi-chevron-bar-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M4.146 3.646a.5.5 0 0 0 0 .708L7.793 8l-3.647 3.646a.5.5 0 0 0 .708.708l4-4a.5.5 0 0 0 0-.708l-4-4a.5.5 0 0 0-.708 0zM11.5 1a.5.5 0 0 1 .5.5v13a.5.5 0 0 1-1 0v-13a.5.5 0 0 1 .5-.5z" />
                    </svg>
                </button>

            </th:block>
        </div>
    </div>
</body>

</html>