.frmNotionCreate {
  max-width: 600px;
  margin: 20px auto;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

.createFile {
  margin-bottom: 10px;
  margin-top: 10px;
}

.title,
.doc {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  font-size: 16px;

}

.doc {
  resize: vertical;
}

.btnCancel,
.btnCreateR {
  width: 70px;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  color: #fff;
}

.btnCancel {
  background-color: #fff;
    border: 1px solid #555;
    color: #555;
}

.btnCreateR {
  background-color: #007bff;
  float: right;
}
